<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p> URL format: http://127.0.0.1:5000/API/v1/station/date </p>
    <p> URL format for one station and one data given: http://127.0.0.1:5000/API/v1/10/20001025 </p>
    <p> URL format for one station data given: http://127.0.0.1:5000/API/v1/10 </p>
    <p> URL format for one year data given: http://127.0.0.1:5000/API/v1/yearly/10/2000 </p>
    <p>{{data|safe}}</p>
</body>
</html>